/* line 1, ../sass/screen.scss */
body {
  text-transform: uppercase;
  background-color: darkolivegreen;
  color: burlywood;
  font-family: Calibri;
  font-size: 20px;
  padding-left: 50px;
}

/* line 9, ../sass/screen.scss */
ol {
  list-style-position: inside;
}

/* line 12, ../sass/screen.scss */
ul li {
  cursor: pointer;
}

/* line 15, ../sass/screen.scss */
li {
  padding: 10px 20px;
  border: 1px dashed white;
}

/* line 19, ../sass/screen.scss */
#closeBtn {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

/* line 24, ../sass/screen.scss */
h1 {
  max-width: 50%;
}

/* line 27, ../sass/screen.scss */
.item {
  padding-left: 10px;
  padding-right: 20px;
}

/* line 31, ../sass/screen.scss */
#editInput:nth-child(2) {
  display: none;
}

/* line 34, ../sass/screen.scss */
#editSubmit {
  color: cornflowerblue;
  background-color: white;
  border: 1px solid white;
  text-transform: uppercase;
}

/* line 40, ../sass/screen.scss */
input {
  color: cornflowerblue;
  padding-left: 5px;
}
